/* 큰 이미지를 표시하는 스와이퍼 */
.swiper-container {
  width: 100%;
  height: 300px;
}

/* 썸네일 이미지를 표시하는 스와이퍼 */
.mySwiper {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

/* 썸네일 이미지 슬라이드 */
.mySwiper .swiper-slide {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}

/* 큰 이미지 슬라이드 */
.swiper-slide {
  background-position: center;
  background-size: cover;
}
