.container {
    width: 85%;
    height: 500px;
    margin-top: 5%;

    background-color: rgb(43, 43, 44); /* 배경색 설정 */
}

.title {
    width: 100%;
    height: 10%;

    font-size: 35px; /* 제목의 글꼴 크기 설정 */
    font-weight: bold; /* 제목의 글꼴 두껍게 설정 */
    margin-bottom: 3%; /* 제목과 게임 목록 사이의 간격 설정 */
    margin-top: 3%;
}