  
  .swiperCustom {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
  }

/* Banner.module.css */
:global(.swiper-slide-thumb-active) {
    outline: 2px solid #fff; /* Add border to active thumbnail */
    box-shadow: 0 0 8px #fff; /* Optionally add shadow */
  }