@tailwind base;
@tailwind components;
@tailwind utilities;


/* 세종병원체 폰트 */
@font-face {
  font-family: 'SejonghospitalBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 폰트 사용을 위해 변수지정 */

:root {
  --font-Sejonghospital: 'SejonghospitalBold', cursive;
}

body {
  font-family: var(--font-Sejonghospital);
  background-color: #232323;
  color:white;
}
