/* SurveyGame.module.css */

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; /* 검은색 필터 투명도 조절 */
    z-index: -1;
    filter: blur(1px);
}

.contentWrapper {
    position: relative; /* 내부 컨텐츠를 위로 띄우기 위해 필요함 */
    text-align: center; /* 텍스트를 중앙으로 정렬 */
    z-index: 0;
}
