.box{
    background-color: #343434;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    
    padding: 5px;
    margin-top: 30px;

    margin-left: 175px;
    width: 1000px;
}

.hr{
    background-color: #6a6a6a;
    border-color: #6a6a6a;
    width: 970px;

    margin-left: 10px;
    margin-bottom: 15px;
}

.gameList{
    display: flex;
    flex-wrap: wrap; /* 카드가 너무 많으면 다음 줄로 넘어가게 설정 */
    gap: 20px; /* 카드 사이의 간격을 조정 */
    justify-content: center; /* 카드들을 중앙 정렬 */
    align-items: flex-start; /* 카드들의 시작 지점을 기준으로 정렬 */
    margin-top: 15px;
}

.topicBtn {
    /* 기본 스타일 */
    box-sizing: border-box;
    width: 140px;
    height: 45px;
    
    border: 3px solid #EBFBFF;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px #B181FF;

    margin-top: 15px;
    margin-left: 40%;
    margin-bottom: 15px;
    
    transition: font-size 0.3s; /* 글자 크기 변화에 대한 transition */

  /* 호버 시 스타일 */
  cursor: pointer;
}

.topicBtn:hover {
  font-size: 1.1em; /* 호버 시 폰트 크기를 1.1em으로 키움 */
}

.container {
  position: fixed;
  top: 75%;
  left: 52%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingTitle {
  font-size: 20px;
  margin-top: 20px;
}
.loadingSubTitle {
  font-size: 15px;
}

.loadingImg{
  height: 50px;
  filter:brightness(0) invert(1);
  transition: 300ms;
  
}
